# ===========================
# 通义千问（DashScope）
# ===========================
DASHSCOPE_API_KEY = 你的 DashScope API Key
DASHSCOPE_BASE_URL = https://dashscope.aliyuncs.com/compatible-mode/v1

# ===========================
# DeepSeek
# ===========================
DEEPSEEK_API_KEY = 你的 DeepSeek API Key
DEEEPSEEK_BASE_URL = https://api.deepseek.com

# ===========================
# （可选）其他服务
# ===========================
# TAVILY_API_KEY =
# My_Agent_KEY =
# AMAP_MAPS_API_KEY =
# LLM_BASE_URL  =
# LLM_CHAT_MODEL =
# ZHIPUAI_APIKEY =
